.background {
	top: 0;
	left:-2vw;
	width: 105vw;
 	height: 100vh;
	position: fixed;
	background-image: url("fawbg.png");
	background-position: center; 
	background-size: cover;
	opacity:0.6;
	cursor: pointer; 
  	transition: all .25s ease-in-out;
}

.bg {
	top: 0;
	left:-2vw;
	width: 105vw;
 	height: 100vh;
	position: fixed;
	background-image: url("bg.png");
	background-position: center; 
	background-size: cover;
	opacity:0.6;
	cursor: pointer; 
  	transition: all .25s ease-in-out;
}

/*.background:hover {
	opacity: 0.5;
} */

.backdrop {
	top: 0;
	left:-2vw;
	width: 105vw;
 	height: 100vh;
	position: fixed;
	background-color: rgb(0,0,0);
	background-position: center; 
	background-size: cover;
}


.home {
	position: fixed;
	top: 80px; 
	left: : 25px;
	font-family: Helvetica Neue; 
	font-size: 25px; 
	color: white; 
	font-weight: 200; 
	cursor: pointer; 
  	transition: all .25s ease-in-out;
} 

.home:hover {
	top: 70px; 
	font-size: 35px;
	font-weight: 400;

}

.blog {
	position: fixed;
	top: 140px; 
	left: : 25px;
	font-family: Helvetica Neue; 
	font-size: 25px; 
	color: white; 
	font-weight: 200; 
	cursor: pointer; 
  	transition: all .25s ease-in-out;
}

.blog:hover {
	top: 130px; 
	font-size: 35px;
	font-weight: 400;

}

.experience {
	position: fixed;
	top: 200px; 
	left: : 25px;
	font-family: Helvetica Neue; 
	font-size: 25px; 
	color: white; 
	font-weight: 200; 
	cursor: pointer; 
  	transition: all .25s ease-in-out;
}

.experience:hover {
	top: 190px; 
	font-size: 35px;
	font-weight: 400;
}


.step {
	position: absolute;
	top: 90px; 
	left:0;
	right: 0;
	margin: auto;
	width: 200px;
	height: 200px;
	/*background-color: rgb(90,40,230);*/
	background-image: url("step.png");
	background-size: cover; 
	background-position: center; 
	opacity: 0.5;
	border-radius: 32px;
	cursor: pointer; 
  	transition: all 0.25s ease-in-out;

}

.step:hover {
	opacity: .7;
}

.one { 
	position: absolute;
	top: 170px;
	width: 180px; 
	left:0;
	right: 0;
	margin: auto;
	font-family: Helvetica Neue; 
	font-size: 45px; 
	color: white; 
	font-weight: 400; 

}


.receive {
	position: absolute;
	top: 380px; 
	left:0px;
	right: 0px;
	margin: auto;
	width: 200px;
	height: 200px;
	background-image: url("receive.png");
	background-size: cover; 
	opacity: 0.5;
	border-radius: 20px;
	cursor: pointer; 
  	transition: all 0.25s ease-in-out;
}

.receive:hover {
	opacity: .7;
}

.two {
	position: absolute;
	top: 450px; 
	left:0px;
	width: 380px;
	right: 0px;
	margin: auto;
	font-family: Helvetica Neue; 
	font-size: 45px; 
	color: white; 
	font-weight: 400; 
}

.pour {
	position: absolute;
	top: 700px; 
	left:0px;
	right:0px;
	margin: auto;
	width: 200px;
	height: 200px;
	/*background-color: rgb(90,40,230);*/
	background-image: url("pour.png");
	background-size: cover; 
	background-position: center;
	opacity: 0.5;
	border-radius: 20px;
	cursor: pointer; 
  	transition: all 0.25s ease-in-out;

}

.pour:hover {
	opacity: .7;

}

.three {
	position: absolute;
	top: 770px; 
	width:280;
	left:0px;
	right: 0px;
	margin: auto;
	font-family: Helvetica Neue; 
	font-size: 45px; 
	color: white; 
	font-weight: 400; 
}


.city {
	position: absolute;
	background-image: url(city.jpg);
	background-size: cover;
	background-position: center;
	width: 500px;
	height: 350px;
	top: 90px; 
	left: 200px;

}

.box1 {
	position: absolute;
	top: 260px; 
	left: 680px;
  border: 5px;
  padding: 20px; 
  width: 280px;
  height: 210px;
  border-color: rgb(255,255,255); 
  border-style: solid;
}

.sent {
	position: absolute;
	top: 280px; 
	left:720px;
	font-family: Helvetica Neue; 
	font-size: 45px; 
	color: white; 
	font-weight: 400; 
}

.line1 {
	position: absolute;
	width: 5px;
	height: 80px;
	background-color: rgb(255,255,255);
	top:520px;
	left: 840px;

}

.line2 {
	position: absolute;
	width: 5px;
	height: 440px;
	background-color: rgb(255,255,255);
	top:378px;
	left: 622px;
	transform: rotate(90deg);
}

.line3 {
	position: absolute;
	width: 5px;
	height: 80px;
	background-color: rgb(255,255,255);
	top:596px;
	left: 404px;
}

.mind {
	position: absolute;
	top: 680px; 
	left:280px;
	font-family: Helvetica Neue; 
	font-size: 30px; 
	color: white; 
	font-weight: 200;
}

.line4 {
	position: absolute;
	width: 5px;
	height: 440px;
	background-color: rgb(255,255,255);
	top:845px;
	left: 404px;
}

.walk {
	position: absolute;
	background-image: url(walk.jpg);
	background-size: cover;
	background-position: center;
	width: 450px;
	height: 550px;
	top: 680px; 
	left: 680px;
} 

.line5 {
	position: absolute;
	width: 5px;
	height: 300px;
	background-color: rgb(255,255,255);
	top:1133px;
	left: 552px;
	transform: rotate(90deg);
}

.so {
	position: absolute;
	top:1260px;
	left:720px;
	font-family: Helvetica Neue; 
	font-size: 30px; 
	color: white; 
	font-weight: 200;
}

.save {
	position: absolute;
	top: 1540px; 
	left:310px;
	font-family: Helvetica Neue; 
	font-size: 105px; 
	color: white; 
	font-weight: 400; 
}

.box2 {
	position: absolute;
	top: 1520px; 
	left: 190px;
  border: 7px;
  padding: 20px; 
  width: 980px;
  height: 120px;
  border-color: rgb(255,255,255); 
  border-style: solid;
} 

.call {
	     position: absolute;
	top: 1710px; 
	left:234px;
	font-family: Helvetica Neue; 
	font-size: 35px; 
	color: white; 
	font-weight: 200;
}

.doubt {
	position: absolute;
	background-image: url(doubt.png);
	background-size: cover;
	background-position: center;
	width: 600px;
	height: 550px;
	top: 1780px; 
	left: 200px;
}


.line6 {
	position: absolute;
	width: 5px;
	height: 300px;
	background-color: rgb(255,255,255);
	top:1820px;
	left: 860px;
	transform: rotate(90deg);
}

.line7 {
	position: absolute;
	width: 5px;
	height: 240px;
	background-color: rgb(255,255,255);
	top:1968px;
	left: 1008px;
}

.why {
	position: absolute;
	top: 2210px; 
	left:975px;
	font-family: Helvetica Neue; 
	font-size: 35px; 
	color: white; 
	font-weight: 200;
} 

.line8 {
	position: absolute;
	width: 5px;
	height: 102px;
	background-color: rgb(255,255,255);
	top:2340px;
	left: 1008px;
}

.line9 {
	position: absolute;
	width: 5px;
	height: 300px;
	background-color: rgb(255,255,255);
	top:2290px;
	left: 860px;
	transform: rotate(90deg);
}

.psalm {
	position: absolute;
	top: 2400px; 
	left:300px;
	font-family: Helvetica Neue; 
	font-size: 35px; 
	color: white; 
	font-weight: 200;
}

.four {
	position: absolute;
	background-image: url(psalm.png);
	background-size: cover;
	background-position: center;
	width: 800px;
	height: 600px;
	top: 2500px; 
	left: 570px;
}

.line10 {
	position: absolute;
	width: 5px;
	height: 590px;
	background-color: rgb(255,255,255);
	top:2555px;
	left: 404px;
} 

.now {
	position: absolute;
	top: 3170px; 
	left:300px;
	font-family: Helvetica Neue; 
	font-size: 50px; 
	color: white; 
	font-weight: 200;

}

.issueone {
	position: absolute;
	background-image: url(issueone.png);
	background-size: cover;
	background-position: center;
	width: 960px;
	height: 650px;
	top: 3480px; 
	left: 210px;
}


.paris1 {
	position: absolute;
	background-image: url(paris1.jpg);
	background-size: cover;
	background-position: center;
	width: 700px;
	height: 400px;
	top: 90px; 
	left: 0px;
	right:0px;
	margin: auto;
} 

.layer {
	position: absolute;
	background-image: url(layer.png);
	background-size: cover;
	background-position: center;
	width: 700px;
	height: 400px;
	top: 90px;
	left: 0px;
	right:0px;
	margin: auto;
	opacity:0.0;
	cursor: pointer; 
  	transition: all .25s ease-in-out;
}

.layer:hover {
	opacity: 0.6

}

.cvrprs {
	position: absolute;
	background-image: url(cvrprs.png);
	background-size: cover;
	background-position: center;
	width: 350px;
	height: 450px;
	top: 180px; 
	left: 340px;
}


.streetart {
	position: absolute;
	background-image: url(wots.jpg);
	background-size: cover;
	background-position: center;
	width: 350px;
	height: 450px;
	top: 180px; 
	left: 780px;
}

.inspo1 {
	position: absolute;
	top: 4180px; 
	left:0px;
	right: 0px;
	margin: auto;
	width: 500px;
	height: 80px;
	font-family: Helvetica Neue; 
	font-size: 35px; 
	color: white; 
	font-weight: 800;

}

.panel {
	position: absolute;
	top: 180px;
	left: 0px;
	right: 0px;
	margin: auto; 
	width: 900px;
	height: 7900px; 
	background-color: rgb(255,255,255);

}

.pigalle {
	position: absolute;
	background-image: url(pigalle.jpg);
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 550px;
	top: 200px; 
	left: 305px;
}

.court {
	position: absolute;
	top: 280px; 
	left:840px;
	font-family: Helvetica Neue; 
	font-size: 55px; 
	color: black; 
	font-weight: 800;
}

.pigalle2 {
	position: absolute;
	background-image: url(pigalle2.jpg);
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 500px;
	top: 780px; 
	left: 305px;
}

.pigalle3 {
	position: absolute;
	background-image: url(pigalle3.jpg);
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 600px;
	top: 550px; 
	left: 740px;
}

.spray {
	position: absolute;
	top: 1195px; 
	left:840px;
	font-family: Helvetica Neue; 
	font-size: 55px; 
	color: black; 
	font-weight: 800;
}

.quesh {
	position: absolute;
	background-image: url(quesh.jpg);
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 400px;
	top: 1315px; 
	left: 305px;
	transform: rotate(180deg);

}

.mrcube {
	position: absolute;
	background-image: url(mrcube.jpg);
	background-size: cover;
	background-position: center;
	width: 635px;
	height: 400px;
	top: 1430px; 
	left: 625px;
	transform: rotate(90deg);
}

.safer {
	position: absolute;
	background-image: url(safer.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 400px;
	top: 1700px; 
	left: 305px;
	/*transform: rotate(180deg);*/
}

.jesus {
	position: absolute;
	background-image: url(jesus.jpg);
	background-size: cover;
	background-position: center;
	height: 600px;
	width: 825px;
	top: 1980px; 
	left: 0px;
	right: 0px;
	margin: auto;
}

.warz {
	position: absolute;
	background-image: url(warz.jpg);
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 400px;
	top: 2615px; 
	left: 305px;
}

.shhh {
	position: absolute;
	background-image: url(shhh.jpg);
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 635px;
	top: 2615px; 
	left: 735px;
}

.boog {
	position: absolute;
	background-image: url(boog.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 400px;
	top: 3000px; 
	left: 305px;
}

.art {
	position: absolute;
	top: 3280px; 
	left:380px;
	font-family: Helvetica Neue; 
	font-size: 55px; 
	color: black; 
	font-weight: 800;
}

.stoop {
	position: absolute;
	background-image: url(stoop.jpg);
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 400px;
	top: 3385px; 
	left: 305px;
}

.run {
	position: absolute;
	background-image: url(run.jpg);
	background-size: cover;
	background-position: center;
	width: 630px;
	height: 400px;
	top: 3500px; 
	left: 625px;
	transform: rotate(90deg);
}

.renmen {
	position: absolute;
	background-image: url(renmen1.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 400px;
	top: 3765px; 
	left: 305px;
}

.gunpeace {
	position: absolute;
	background-image: url(gunpeace.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 400px;
	top: 4050px; 
	left: 740px;
}

.bansky {
	position: absolute;
	background-image: url(bansky.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
	width: 400px;
	top: 4385px; 
	left: 740px;
}

.moon {
	position: absolute;
	background-image: url(moon.jpg);
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 635px;
	top: 4050px; 
	left: 305px;
}

.mj {
	position: absolute;
	background-image: url(mjstreet.jpg);
	background-size: cover;
	background-position: center;
	height: 500px;
	width: 825px;
	top: 4715px; 
	left: 0px;
	right: 0px;
	margin: auto;
}

.streets {
	position: absolute;
	top: 5250px; 
	left:380px;
	font-family: Helvetica Neue; 
	font-size: 55px; 
	color: black; 
	font-weight: 800;
}

.signs {
	position: absolute;
	background-image: url(signs.jpg);
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 635px;
	top: 5355px; 
	left: 735px;
}

.stickers {
	position: absolute;
	background-image: url(stickers.jpg);
	background-size: cover;
	background-position: center;
	height: 350px;
	width: 400px;
	top: 5355px; 
	left: 305px;
}

.stickers2 {
	position: absolute;
	background-image: url(stickers2.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 400px;
	height: 635px;
	top: 5685px; 
	left: 305px;
}

.rainstick {
	position: absolute;
	background-image: url(rainstick.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 400px;
	top: 6015px; 
	left: 735px;
}

.stickers3 {
	position: absolute;
	background-image: url(stickers3.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 400px;
	top: 6295px; 
	left: 305px;
}

.paintpoles {
	position: absolute;
	background-image: url(paintpoles.jpg);
	background-size: cover;
	background-position: center;
	height: 560px;
	width: 400px;
	top: 6580px; 
	left: 735px;
}

.red {
	position: absolute;
	background-image: url(red.jpg);
	background-size: cover;
	background-position: center;
	width: 400px;
	height: 560px;
	top: 6580px; 
	left: 305px;
	
}

.lion {
	position: absolute;
	background-image: url(lion.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 400px;
	top: 6295px; 
	left: 735px;
}


.feet2 {
	position: absolute;
	background-image: url(feet2.png);
	background-size: cover;
	background-position: center;
	height: 800px;
	width: 625px;
	top: 7215px; 
	left: 0px;
	right: 0px;
	margin: auto;
}

.backbox {
	position: fixed;
	top: 30px;
	right: 20px;
	width: 80px;
	height: 40px; 
	background-color: rgb(255,255,255);
	cursor: pointer;
}

.back {
	position: fixed;
	top: 35px; 
	right:30px;
	font-family: Helvetica Neue; 
	font-size: 25px; 
	color: black; 
	font-weight: 800;
	cursor: pointer;
}

.panel1 {
	position: absolute;
	top: 180px;
	left: 0px;
	right: 0px;
	margin: auto; 
	width: 900px;
	height: 2760px; 
	background-color: rgb(255,255,255);

}

.lourvew {
	position: absolute;
	top: 530px; 
	left:-80px;
	font-family: Helvetica Neue; 
	font-size: 230px; 
	color: black; 
	font-weight: 800;
	cursor: pointer;
	transform: rotate(270deg);

}

.pyramid {
	position: absolute;
	background-image: url(pyramid.jpg);
	background-size: cover;
	background-position: center;
	height: 450px;
	width: 600px;
	top: 210px; 
	left: 535px;
}

.clouds {
	position: absolute;
	background-image: url(clouds.jpg);
	background-size: cover;
	background-position: center;
	height: 450px;
	width: 600px;
	top: 680px; 
	left: 535px;
}

.lourve {
	position: absolute;
	background-image: url(lourve.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 1160px; 
	left: 305px;
}

.sculpture {
	position: absolute;
	background-image: url(sculpture.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 1160px; 
	left: 735px;
}

.paris {
	position: absolute;
	background-image: url(paris.jpg);
	background-size: cover;
	background-position: center;
	height: 1150px;
	width: 800px;
	top: 1750px; 
	left: 0px;
	right: 0px;
	margin: auto;
}


.panel1 {
	position: absolute;
	top: 180px;
	left: 0px;
	right: 0px;
	margin: auto; 
	width: 900px;
	height: 2760px; 
	background-color: rgb(255,255,255);

}

.panel2 {
	position: absolute;
	top: 3040px;
	left: 0px;
	right: 0px;
	margin: auto; 
	width: 900px;
	height: 2760px; 
	background-color: rgb(255,255,255);
}

.panel3 {
	position: absolute;
	top: 5910px;
	left: 0px;
	right: 0px;
	margin: auto; 
	width: 900px;
	height: 2120px; 
	background-color: rgb(255,255,255);
}

.versaille { 
	position: absolute;
	top: 3180px; 
	left:740px;
	font-family: Helvetica Neue; 
	font-size: 80px; 
	color: black; 
	font-weight: 800;
	text-align: left;

}

.gate {
	position: absolute;
	background-image: url(gate.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 400px;
	top: 3090px; 
	left: 305px;
}

.castle {
	position: absolute;
	background-image: url(castle.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 825px;
	top: 3520px; 
	left: 0px;
	right: 0px;
	margin: auto; 
}


.palace2{
	position: absolute;
	background-image: url(palace2.jpg);
	background-size: cover;
	background-position: center;
	height: 200px;
	width: 450px;
	top: 4095px; 
	left: 305px;
}

.mother {
	position: absolute;
	background-image: url(mother.jpg);
	background-size: cover;
	background-position: center;
	height: 250px;
	width: 450px;
	top: 4320px; 
	left: 305px;
}

.palace {
	position: absolute;
	background-image: url(palace.jpg);
	background-size: cover;
	background-position: center;
	height: 540px;
	width: 365px;
	top: 4095px; 
	left: 775px;
}

.light {
	position: absolute;
	background-image: url(light.jpg);
	background-size: cover;
	background-position: center;
	height: 590px;
	width: 365px;
	top: 4595px; 
	left: 305px;
}

.foutain {
	position: absolute;
	background-image: url(foutain.jpg);
	background-size: cover;
	background-position: center;
	height: 230px;
	width: 450px;
	top: 4660px; 
	left: 690px;
}

.clock {
	position: absolute;
	background-image: url(clock.jpg);
	background-size: cover;
	background-position: center;
	height: 270px;
	width: 450px;
	top: 4915px; 
	left: 690px;
}

.hallway {
	position: absolute;
	background-image: url(hallway.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 5210px; 
	left: 305px;
}

.statue2 {
	position: absolute;
	background-image: url(statue2.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 5210px; 
	left: 735px;
}

.blue {
	position: absolute;
	top: 6060px; 
	left:850px;
	font-family: Helvetica Neue; 
	font-size: 80px; 
	color: black; 
	font-weight: 800;
	text-align: left;
}

.flag {
	position: absolute;
	background-image: url(flag.jpg);
	background-size: cover;
	background-position: center;
	height: 400px;
	width: 500px;
	top: 5950px; 
	left: 305px;
}

.sky {
	position: absolute;
	background-image: url(sky.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 6380px; 
	left: 305px;
}

.eiffle {
	position: absolute;
	background-image: url(eiffle.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 6380px; 
	left: 735px;
}

.gold {
	position: absolute;
	background-image: url(gold.jpg);
	background-size: cover;
	background-position: center;
	height: 450px;
	width: 820px;
	top: 6960px; 
	left: 0px;
	right: 0px;
	margin: auto;
}


.birdy {
	position: absolute;
	background-image: url(birdy.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 7440px; 
	left: 305px;
}


.sacred {
	position: absolute;
	background-image: url(sacredheart.jpg);
	background-size: cover;
	background-position: center;
	height: 550px;
	width: 400px;
	top: 7440px; 
	left: 735px;
}





